/AppleSeedClient/*
/GridWorld/nbproject/private/
/GridWorld/build/
/CryptoLib/dist/
/AIB_Client/dist/
/CryptoChallange/nbproject/private/
/CryptoChallange/build/
/CryptoChallange/dist/
/Breeding/nbproject/private/
/Breeding/build/
/Backgammon/nbproject/private/
/Backgammon/build/
/Problem/nbproject/private/
/Problem/build/
/Backgammon/dist/
/StatBreeding/nbproject/private/
/StatBreeding/build/
/ModularReedSolomon/dist/
/ChessGame/nbproject/private/
/KnightsTour/dist/
/RP_Client/nbproject/private/
/RP_Server/nbproject/private/
/RP_Client/build/
/RP_Server/build/
/RP_Server/dist/
/RP_Client/dist/
/Doge/nbproject/private/
/Doge/build/
/Doge/dist/
/Cryptsy/nbproject/private/
/Cryptsy/build/
/SplittR/nbproject/private/
/SplittR/build/
/SplittR/dist/
/GaussElimination/nbproject/private/
/GaussElimination/build/
/Coinmarketcap/nbproject/private/
/Coinmarketcap/build/
/TextThing/nbproject/private/
/TextThing/build/
/TextThing/dist/
/KITTYCAT/nbproject/private/
/KITTYCAT/build/
/Slider/nbproject/private/
/Slider/build/
/Alias/nbproject/private/
/Alias/build/
/Alias/dist/
/Slider/dist/
/Cryptsy2/nbproject/private/
/Kraken/nbproject/private/
/Kraken/build/
/IRC/nbproject/private/
/ThreeD/nbproject/private/
/ThreeD/build/
/ThreeD/dist/
/GOINHAM/nbproject/private/
/GOINHAM/build/
/P2PFileStorage/nbproject/private/
/P2PFileStorage/build/
/Coinbase/nbproject/private/
/Coinbase/build/
/HSCTF/nbproject/private/
/Coinbase/dist/
/BitStamp/nbproject/private/
/BitStamp/build/
/BitStamp/dist/
/AppleSeed/nbproject/private/
/AppleSeed/build/
/AppleSeed/dist/
/ThreeDPhotos/nbproject/private/
/ThreeDPhotos/build/
/AppleSeedClient/nbproject/private/
/AppleSeedClient/build/
/Dropbox/nbproject/private/
/Dropbox/build/
/CAT/nbproject/private/
/CAT/build/
/Loans/nbproject/private/
/Loans/build/
/Loans/dist/
/ASCIIArt/nbproject/private/
/ASCIIArt/build/
/ASCIIArt/dist/
/AppleSeedClient/dist/
/Khet/nbproject/private/
/Khet/build/
/Khet/dist/
/Huffman/nbproject/private/
/Huffman/build/
/Huffman/dist/
/LZW/nbproject/private/
/LZW/build/
/ReversePolishNotation/dist/
/Rauzy/nbproject/private/
/Rauzy/build/
/SQL/nbproject/private/
/SQL/build/
/Price/nbproject/private/
/Price/build/
/Euler147/nbproject/private/
/Euler147/build/
/Euler147/dist/
/Euler152/nbproject/private/
/Euler152/build/
/Euler154/nbproject/private/
/Euler154/build/
/Euler160/nbproject/private/
/Euler160/build/
/Euler165/nbproject/private/
/Euler165/build/
/Euler165/dist/
/Euler378/nbproject/private/
/Euler378/build/
/Euler378/dist/
/Euler485/nbproject/private/
/Euler485/build/
/Euler485/dist/
/Atkin/nbproject/private/
/Atkin/build/
/SilyKitty/nbproject/private/
/SilyKitty/build/
/SilyKitty/dist/
/Euler484/nbproject/private/
/Euler484/build/
/Euler247/nbproject/private/
/Euler247/build/
/Compiler/nbproject/private/
/Compiler/build/
/Euler439/nbproject/private/
/Euler439/build/
/Test1/dist/
/Block/nbproject/private/
/Block/build/
/Block/dist/